th {
    text-align: left !important;
}

h2 {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 10px;
    background: white;
    border-bottom: 1px solid lightgray;
}

code {
	padding: 0;
}

.uk-accordion pre {
	padding: 0;
	border: 0;
	background: rgba(0,0,0,0);
}

ul.uk-accordion {
	max-width: 900px;
}

summary:focus {
    outline: none !important;
}
